*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background: #212529;
}
ul{
    display: flex;
}
nav li{
    float: left;
}
nav ul{
    float: right;
}

ul li{
    
    padding: 10px;
    margin: 5px;
}
header img{
    width: 100px;
    border-radius: 50%;
}
header a{
    font-weight: 700;
    color: white;
    text-decoration: none;
}
picture img{
    width: 300px;
    border: 1px solid black;
}
footer{
    text-align: center;
}

footer p, address{
    margin-bottom: 0;
    padding: 5px;
    text-indent: 15px;
    color: black;
    font-weight: 700;
}
footer a, span{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
